#container {
    border: 0px solid red;
    margin: 5px;
}

#main-page {
    padding: 20px;
    width: 350px;
    align: center;
    border: 0px solid red;
    text-align: center;
    margin: auto;
    margin-top: 56px;
}

div#sign-up-title {
    border: 0px solid purple;
    text-align: center;
}

#log-in-button {
    background-color: aqua;
}

.box {
    width: 100%;
    height: 40px;
    margin: 10px 0px 10px 0px;
}

a {
    color: blue;
}

#forgot-password-link {
    text-align: right;
}

#remember-this-device-box {
    text-align: left;
    border: 0px solid;
}

footer {
    text-align: left;
}